.questionnaire__circle{
    top: -40%;
    right: -40%;
}

@media (max-width: 1352px){
    .questionnaire__circle{
        top: -40%;
        right: -40%;
    }
}

@media (max-width: 768px){
    .questionnaire__circle{
        transform: rotate(-76deg);
        top: -40%;
        right: -10%;
    }

}

